<html>
    <head>
        <title>API Documentation</title>
        <script
            defer=""
            src="https://umami.lavrenov.io/script.js"
            data-website-id="93ee0589-fb24-43f4-ad6c-929c8c0d7644"
        ></script>
    </head>
    <body>
        <div id="swagger-ui"></div>
        <script src="https://unpkg.com/swagger-ui-dist/swagger-ui-bundle.js"></script>
        <script src="https://unpkg.com/swagger-ui-dist/swagger-ui-standalone-preset.js"></script>
        <script>
            const ui = SwaggerUIBundle({
                url: '/path/to/your/swagger.json',
                dom_id: '#swagger-ui',
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset,
                ],
                layout: 'StandaloneLayout',
            });
        </script>
    </body>
</html>
